<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<ul class="header">
		<li class="logo pull-left">
			<a href="#/home">Brew4Two <span class="fa fa-coffee"></span></a>
		</li>
		<li class='pull-right links'>
			<a href="#/signin">login</a>
		</li>
		<li class='pull-right links'>
			<a href="#">logout</a>
		</li>
		<li class='pull-right links'>
			<a href="#/appointments">dates</a>
		</li>
	</ul>
	<div class='main-view'>
		<img class="loading" src="../app/assets/coffee.gif">
		<div id="map"></div>
		<div class="cafeList">
			<div>
				<div class="cafe">
					<div class="cafePreviewClick">
						<img class="coffeeShopImage" src="{{shop.shopImage}}">
						<div class='coffeeShopInfo'>
							<h1 class="coffeeShopName">{{shop.name | limitTo: 30 }}</h1>
							<p class='coffeeShopAddress'>{{shop.formatted_address}}</p>
						</div>
					</div>
					<div class="appointmentsDashboard">
						<h3 class='appointmentsTitle'>Appointments</h3>
						<div class="addNewAppointmentForm">
							<button class="createNew" data-target="#myModal" data-toggle=
							"modal">+</button>
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button class="close" data-dismiss="modal" type=
										"button">&times;</button>
										<h4 class="modal-title">Modal Header</h4>
									</div>
									<div class="modal-body">
										<p>Some text in the modal.</p>
									</div>
									<div class="modal-footer">
										<button class="btn btn-default" data-dismiss="modal" type=
										"button">Close</button>
									</div>
								</div>
							</div>
						</div>
						<form class="timeDayInput">
							<div class="timeAndSubmitButtons">
								<input class='time form-control-md' name="time" type="time">
								<input name="coffeShopObject" value="{{shop}}"> <input class=
								"submitButton" type="submit" value="Submit">
							</div>
						</form>
					</div>
					<div>
						<div class="appointment">
							<button class='joinButton'>join</button> <img class="hostProfilePicture"
							src="{{appt.profilePicture}}">
							<div class="appointmentData">
								<p class="hostName">{{appt.firstName}} {{appt.lastName}}</p>
								<p class="hostDateTime">{{appt.day}}</p>
								<p class="hostDateTime">{{appt.time}}</p>
							</div>
							<div class="hostBio">
								<div class="aboutHostHeader">
									<h1 class="aboutHostTitle">About</h1>
								</div>
								<p class="hostBioText">{{appt.bio}}</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Modal -->
				<div class="modal" id="myModal" role="dialog">
					<div class="modal-dialog">

						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">
								<button class="close" data-dismiss="modal" type=
								"button">&times;</button>
								<h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span>
								Login</h4>
							</div>
							<div class="modal-body">
								<form role="form">
									<div class="form-group">
										<label for="usrname"><span class="glyphicon glyphicon-user"></span>
										Username</label> <input class="form-control" id="usrname"
										placeholder="Enter email" type="text">
									</div>
									<div class="form-group">
										<label for="psw"><span class="glyphicon glyphicon-eye-open"></span>
										Password</label> <input class="form-control" id="psw" placeholder=
										"Enter password" type="text">
									</div>
									<div class="checkbox">
										<label><input checked type="checkbox" value="">Remember me</label>
									</div><button class="btn btn-default btn-success btn-block" type=
									"submit"><span class="glyphicon glyphicon-off"></span> Login</button>
								</form>
							</div>
							<div class="modal-footer">
								<button class="btn btn-default btn-default pull-left" data-dismiss=
								"modal" type="submit"><span class="glyphicon glyphicon-remove"></span>
								Cancel</button>
								<p>Not a member? <a href="#">Sign Up</a></p>
								<p>Forgot <a href="#">Password?</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
