<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="bgimg">
		<div class='signup_form'>
			<div class='formcontainer'>
				<h1 class="text-center login-logo">Brew4Two</h1>
				<h2 class="text-center signup-logo">Signup</h2>
				<form id="myForm" name="myForm">
					<div class="col-md-6">
						<label>Username</label> <input name="username" required="" type="text">
						<div>
							<div>
								This is required.
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<label>Password</label> <input id="exampleInputPassword1" name="password"
						required="" type="password">
						<div>
							<div>
								This is required.
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<label>First Name</label> <input name="firstname" required="" type=
						"text">
						<div>
							<div>
								This is required.
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<label>Last Name</label> <input name="lastname" required="" type="text">
						<div>
							<div>
								This is required.
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<label>Email Address</label> <input id="exampleInputEmail1" name="email"
						type="email">
						<div>
							<div>
								Please enter a valid email address!
							</div>
						</div><label>Tell us about yourself...</label>
						<textarea rows="3"></textarea>
					</div>
					<div class="col-md-3">
						<label>Age</label> <input max="150" min="18" name="age" type="number">
						<div>
							<div>
								You must be older than 18 years old to use this site!
							</div>
							<div>
								Impossible. You can't be this old. I think.
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<label>Gender:</label><br>
						<br>
						Male Female Other
					</div>
					<div class="col-md-12">
						<label>Photo url of yourself</label> <input type="text">
					</div><button class="btn btn-md btn-block login-buttons" type=
					"submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<style>
    .bgimg{
      background-image: url('../app/assets/coffee-date.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      position: absolute;
      height:auto;
      bottom:0;
      top:0;
      left:0;
      right:0;
    }
    .signin-box {
     margin-top: 15%;
    }
	</style>
</body>
</html>
