<!--login modal-->
<div class="bgimg">
  <div class="login">
    <div class="signin-box">
      <div class="modal-dialog">
        <div class="login-form modal-content">
          <div class="modal-header">

            <h1 class="text-center login-logo">Brew4Two</h1>
          </div>
          <div class="modal-body">
            <form name="myForm" ng-submit="signin()" class="form col-md-12 center-block">
              <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="Username" ng-model="user.username" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="Password" ng-model="user.password" required>              </div>
                <div class="form-group">
                  <button type="submit" class="login-buttons btn btn-lg btn-block" ng-disabled="myForm.$invalid" >Sign In</button>
                  <button class="login-buttons btn btn-lg btn-block"><a href="#/signup">Sign Up</a></button>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <div class="col-md-12">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <style>
    .bgimg{
      background-image: url('../app/assets/coffee-date.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      position: absolute;
      height:auto;
      bottom:0;
      top:0;
      left:0;
      right:0;
    }

    .signin-box {
      margin-top: 15%;
    }
  </style>
